{% extends 'base.html' %}

{% block head %}
<title>Mood tracker</title>
{% endblock %}

{% block body %}

<div class="content">
    <h1>Mood check bot</h1>

    <table>

        <tr>
            <th>day</th>
            <th>log</th>
        </tr>
        <tr>
            <th>2021/9/22</th>
            <th>I am sad</th>
        </tr>
        {% for mood in mood %}
            <tr>
                <td>{{ mood[0] }}</td>
            </tr>
        {% endfor %}
    </table>
    <div>
        <form action="/" method='POST'>
            <h3>bot: <input type="text" value=""></h3>
            <h3>User: </h3>
            <input type="text" name="mood" >
            <input type="submit" value="Submit">
        </form>
    </div>
</div>

{% endblock %}